Solución Taller 4/intro-unal-2022-1-shooter/.gitignore
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scenes.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scr.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Prefabs.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/Bullet.mat
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/Bullet.mat.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/Glasses.mat
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/Glasses.mat.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/Ground.mat
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/Ground.mat.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/PlayerBody.mat
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/PlayerBody.mat.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/Weapon.mat
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Materials/Weapon.mat.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Prefabs/Bullet.prefab
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Packages/Prefabs/Bullet.prefab.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scenes/SampleScene.unity
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scenes/SampleScene.unity.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scr/Player.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scr/Player/PlayerMovement.cs
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scr/Player/PlayerMovement.cs.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scr/Player/PlayerShooter.cs
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scr/Player/PlayerShooter.cs.meta
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scr/Player/Projectile.cs
Solución Taller 4/intro-unal-2022-1-shooter/Assets/Scr/Player/Projectile.cs.meta
Solución Taller 4/intro-unal-2022-1-shooter/Packages/manifest.json
Solución Taller 4/intro-unal-2022-1-shooter/Packages/packages-lock.json
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/AudioManager.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/ClusterInputManager.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/DynamicsManager.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/EditorBuildSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/EditorSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/GraphicsSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/InputManager.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/NavMeshAreas.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/PackageManagerSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/Physics2DSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/PresetManager.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/ProjectSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/ProjectVersion.txt
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/QualitySettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/TagManager.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/TimelineSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/TimeManager.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/UnityConnectSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/VersionControlSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/VFXManager.asset
Solución Taller 4/intro-unal-2022-1-shooter/ProjectSettings/XRSettings.asset
Solución Taller 4/intro-unal-2022-1-shooter/UserSettings/EditorUserSettings.asset
*.meta
